.app.dark {
  --bg-color: #1e1e45;
  --inverted-bg-color: #e3e3e3;
  --primary-color: #018f01;
  --secondary-color: #00ed00;
  --inverted-primary-color: #001c7c;
  --inverted-secondary-color: #3453ff;
}